[submodule "makeGIT"]
	path = makeGIT
	url = https://github.com/lin-zi-jun/makeGIT.git
[submodule "html"]
	path = html
	url = https://github.com/lin-zi-jun/html.git
[submodule "shell"]
	path = shell
	url = https://github.com/lin-zi-jun/shell.git
[submodule "tree"]
	path = tree
	url = https://github.com/lin-zi-jun/tree.git
[submodule "C"]
	path = C
	url = https://github.com/lin-zi-jun/C.git
